/* André Boden: Body Hintergrund */
body{
	background-color: black ;
}

header {
	background-color: white ;
	height: 4vh ;
	font-size: xx-large ;
}

/* André Boden: Spielfeld untergliedert für die Positionen der Karten und ders Lebens */
#Spielfeld{
	display: grid;
	grid-template-columns: 4fr 2fr 1fr ;
	grid-template-rows: auto auto auto auto auto auto ;
	grid-template-areas:	'bankgegner angreifergegner mana'
							'bankgegner angreifergegner mana'
							'bankfeld angreiferfeld friedhof'
							'bankfeld angreiferfeld friedhof'
							'bankfeld angreiferfeld deck'
							'hand hand deck' ;
	& > section#Deck {grid-area: deck;   margin: 2px;   border: solid 2px black; } 
	& > section#Friedhof {grid-area: friedhof;   margin: 2px;   border: solid 2px black; } 
	& > section#Mana {grid-area: mana;   margin: 2px;    border: solid 2px black; } 
	& > section#Gegnerkarten {grid-area: angreifergegner;   margin: 2px;  border: solid 2px black; padding: 0 ;} 
	& > section#Feldkarten {grid-area: angreiferfeld;   margin: 2px;   border: solid 2px black; } 
	& > section#Handkarten {grid-area: hand;   margin: 2px;    border: solid 2px black; } 
	& > section#Lebensbalken {grid-area: bankfeld;   margin: 2px;    border: solid 2px black; }
	& > section#Gegnerbalken {grid-area: bankgegner;   margin: 2px;    border: solid 2px black; }

/*Justin Görtz Vorlage, André Boden leicht umgeändert*/
	width: 96vw ;
	height: 96vh ;
	margin: 0 auto ;
	border: solid ;
	border-color: violett ; 
	background-image: linear-gradient(to bottom right, #57cedb 0%, #feaa00 100%) ;		
}

/* André Boden: Einzelne Sektion nochmals untergliedert für das legen der Karten */
section#Gegnerbalken {
	display: grid ;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr ;
	grid-template-areas: 'gegner01 gegner02 gegner03 gegner04 gegner05' ;
	
	& > img#Odin01 { grid-area: gegner01;    width: 70% ;   height: 85% ;    padding: 10px ;    margin: 4px ;}
	& > img#Odin02 { grid-area: gegner02;    width: 70% ;   height: 85% ;    padding: 10px ;    margin: 4px ;}
	& > img#Odin03 { grid-area: gegner03;    width: 70% ;   height: 85% ;    padding: 10px ;    margin: 4px ;}
	& > img#Odin04 { grid-area: gegner04;    width: 70% ;   height: 85% ;    padding: 10px ;    margin: 4px ;}
	& > img#Odin05 { grid-area: gegner05;    width: 70% ;   height: 85% ;    padding: 10px ;    margin: 4px ;}	
}


section#Lebensbalken {
	display: grid ;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr ;
	grid-template-areas: 'feld01 feld02 feld03 feld04 feld05' ;
	
	& > img#Odin06 { grid-area: feld01;   width: 70% ; height: 65% ;    padding: 10px ; margin: 4px ;    border: solid 2px black ;}
	& > img#Odin07 { grid-area: feld02;   width: 70% ; height: 65% ;    padding: 10px ; margin: 4px ;    border: solid 2px black ;}
	& > img#Odin08 { grid-area: feld03;   width: 70% ; height: 65% ;    padding: 10px ; margin: 4px ;    border: solid 2px black ;}
	& > img#Odin09 { grid-area: feld04;   width: 70% ; height: 65% ;    padding: 10px ; margin: 4px ;    border: solid 2px black ;}
	& > img#Odin1  { grid-area: feld05;   width: 70% ; height: 65% ;    padding: 10px ; margin: 4px ;    border: solid 2px black ;}	
}
/* --- Bearbeitet von Kruse > --- */
section#Handkarten {
	display: grid ;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr ;
	gap: 8px ;
	padding: 6px ;
	align-items: center ;
}
section#Handkarten > img {
	width: 100% ;
	height: auto ;
}
/* --- < Bearbeitet von Kruse --- */
section#Gegnerkarten {
	display: flex ;
	justify-content: center ;
	align-items: center ;
	& > img#Odin17 {width: 45% ;   height: 95% ;    margin: 4px ;    text-content: center;}
}

section#Feldkarten {
	display: flex ;
	justify-content: center ;
	align-items: center ;
	& > img#Odin18 {width: 45% ;   height: 95% ;    margin: 4px ;    text-content: center;}
}