/* André Boden: Body Hintergrund */
body{
	display: grid ;
		grid-template-columns: 5fr 1fr ;
		grid-template-rows: 3em 5fr ;
		grid-template-areas: 	'kopf kopf'
								'haupt menu';
	& > header 	{ grid-area: kopf ; }
	& > main 	{ grid-area: haupt ; }
	& > aside 	{ grid-area: menu ; }
	/*background-color: white ; auskommentiert von Justin G.*/ 
	height: 100vh ;
	width: 100vw ;
	
		/*Justin Görtz Vorlage, André Boden leicht umgeändert*/
		width: 96vw ;
		height: 96vh ;
		margin: 0 ;
	/*	border: solid ;
		border-color: violett ; auskommentiert von Justin G. weil es nicht mehr nötig ist*/
		background-color: #222288 ;
		 /* alte hintergrund einstellung! linear-gradient(to bottom right, #57cedb 0%, #feaa00 100%) ; */
		background-repeat: no-repeat ;
		background-position: cover ;
		background-attachment: fixed ;
		background-clip: padding-box ;
		background-size: cover ;
}

body >  #Spielfeld{
		display: grid;
		color: white ;
		grid-template-columns: 4fr 1fr 1fr ;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
		grid-template-areas:	'bankgegner angreifergegner mana'
								'bankgegner angreifergegner mana'
								'bankfeld angreiferfeld friedhof'
								'bankfeld angreiferfeld friedhof'
								'bankfeld angreiferfeld deck'
								'hand hand deck' ;
		& > section#Deck {grid-area: deck;  margin: 2px;   border: solid 2px white; 
			&..spielerdeck {position: relative ;	width: 100%  ;   height: 100%  ;}	
		} 
		& > section#Friedhof {grid-area: friedhof;   margin: 2px;   border: solid 2px white; } 
		& > section#Mana {grid-area: mana;   margin: 2px;    border: solid 2px white; } 
		& > section#AngriffPlayer02 {grid-area: angreifergegner;   margin: 2px;  border: solid 2px white; padding: 0 ;} 
		& > section#AngriffPlayer01 {grid-area: angreiferfeld;   margin: 2px;   border: solid 2px white; } 
		& > section#Handkarten {grid-area: hand;   margin: 2px;    border: solid 2px white; } 
		& > section#FeldPlayer01 {grid-area: bankfeld;   margin: 2px;    border: solid 2px white; }
		& > section#FeldPlayer02 {grid-area: bankgegner;   margin: 2px;    border: solid 2px white; }
		background-image: url('../pictures/Background_dunkel.png');
}

/* Andre Boden geschrieben */
aside{
	/*background-image: linear-gradient(to bottom right, #304700 0%, #A5F2F3 100%) ;*/
}

button {
	font-size: 1.5em ;
	margin: 2em ;
}

.ruecken {
	
		width: 90% ;   
		height: 80% ;    
		margin: 5px ;
		margin-top: 10px ;
		padding: 5px ;
}

.picture {
	width: 40% ;
	height: 30% ;
	margin: 2px ;
}

#start {	
	color: white ;
	background-image: url('../pictures/Startbildschirm.png');
}

#Startknopf {
	color: #ffffff	;
	width:55vw	;
	height:30vw ;
	border-color: #00000000 ;
	background-color: #00000000 ;
	background-image:url('../pictures/Button_Layout02.png') ;
	background-position: center center ;
	background-repeat: no-repeat ;
	margin: 20vh 20vw  ;
}

.spielerdeck {
	position: relative ;
	width: 100%  ;
	height: 100%  ;
}
footer {
	display: none ;
}
