/* André Boden: Body Hintergrund */
body{
	display: grid ;
		grid-template-columns: 5fr 1fr ;
		grid-template-rows: 3em 5fr ;
		grid-template-areas: 	'kopf kopf'
								'haupt menu';
	& > header 	{ grid-area: kopf ; }
	& > main 	{ grid-area: haupt ; }
	& > aside 	{ grid-area: menu ; }
	background-color: white ;
	min-height: 100vh ;
	min-width: 100vw ;
}

header{
	background-color: white ;
	height: 4vh ;
	font-size: xx-large ;
}

body >  #Spielfeld{
		display: grid;
		grid-template-columns: 4fr 1fr 1fr ;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
		grid-template-areas:	'bankgegner angreifergegner mana'
								'bankgegner angreifergegner mana'
								'bankfeld angreiferfeld friedhof'
								'bankfeld angreiferfeld friedhof'
								'bankfeld angreiferfeld deck'
								'hand hand deck' ;
		& > section#Deck {grid-area: deck;   margin: 2px;   border: solid 2px black; } 
		& > section#Friedhof {grid-area: friedhof;   margin: 2px;   border: solid 2px black; } 
		& > section#Mana {grid-area: mana;   margin: 2px;    border: solid 2px black; } 
		& > section#Gegnerkarten {grid-area: angreifergegner;   margin: 2px;  border: solid 2px black; padding: 0 ;} 
		& > section#Feldkarten {grid-area: angreiferfeld;   margin: 2px;   border: solid 2px black; } 
		& > section#Handkarten {grid-area: hand;   margin: 2px;    border: solid 2px black; } 
		& > section#Lebensbalken {grid-area: bankfeld;   margin: 2px;    border: solid 2px black; }
		& > section#Gegnerbalken {grid-area: bankgegner;   margin: 2px;    border: solid 2px black; }
	
	/*Justin Görtz Vorlage, André Boden leicht umgeändert*/
		width: 96vw ;
		height: 96vh ;
		margin: 0 auto ;
		border: solid ;
		border-color: violett ; 
		background-image: linear-gradient(to bottom right, #57cedb 0%, #feaa00 100%) ;	
}

/* Andre Boden geschrieben */
aside{
	background-image: linear-gradient(to bottom right, #304700 0%, #A5F2F3 100%) ;
}

button {
	font-size: 1.5em ;
	margin: 2em ;
}

.dummy {
		width: 65% ;   
		height: 55% ;    
		margin: 4px ;
		border: dotted 3px red ;
}

.picture {
	width: 40% ;
	height: 30% ;
	margin: 2px ;
}

